<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @assignment.user_id %>
</p>

<p>
  <b>User type:</b>
  <%= @assignment.user_type_id %>
</p>

<p>
  <b>Opportunity:</b>
  <%= @assignment.opportunity_id %>
</p>

<p>
  <b>Evolution:</b>
  <%= @assignment.evolution_id %>
</p>

<p>
  <b>Company:</b>
  <%= @assignment.company_id %>
</p>

<p>
  <b>Active_company:</b>
  <%= @assignment.active_company %>
</p>


<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
