<%= form_for(@opportunity) do |f| %>
  <% if @opportunity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@opportunity.errors.count, "error") %> prohibited this opportunity from being saved:</h2>

      <ul>
      <% @opportunity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :task %><br />
    <%= f.text_field :task %>
  </div>
  <div class="field">
    <%= f.label :suggestion %><br />
    <%= f.text_area :suggestion %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :company_id %><br />
    <%= f.number_field :company_id %>
  </div>
   <div class="field">
    <%= f.label :closed %><br />
    <%= f.check_box :closed %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
