<h1>Listing opportunities</h1>

<table>
  <tr>
    <th>Task</th>
    <th>Suggestion</th>
    <th>User</th>
    <th>Company</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @opportunities.each do |opportunity| %>
  <tr>
    <td><%= opportunity.task %></td>
    <td><%= opportunity.suggestion %></td>
    <td><%= opportunity.user_id %></td>
    <td><%= opportunity.company_id %></td>
    <td><%= link_to 'Show', opportunity %></td>
    <td><%= link_to 'Edit', edit_opportunity_path(opportunity) %></td>
    <td><%= link_to 'Destroy', opportunity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Opportunity', new_opportunity_path %>
